PORT= #3009
DB_HOST= #127.0.0.1
DB_PORT= #5434
DB_NAME= #'db_name'
DB_USER= #'root'
DB_PASSWORD= #'your-db-password'
PRIVATE_KEY_FILE= #jwt/private.key
PUBLIC_KEY_FILE= #jwt/public.key
API_KEY_SECRET= #'api-key-secret'
UPLOAD_PATH= #/uploads

SECRET_API_KEY= #'secret-api-keyu'
EMAIL_HOST= #'sandbox.smtp.mailtrap.io'
EMAIL_USERNAME= #'email'
EMAIL_PASSWORD= #'email_password'

# stored_procedure get_data_by_date_diff(n)
# CREATE OR REPLACE FUNCTION get_data_by_date_diff(n INT)
# RETURNS TABLE(id UUID, title VARCHAR, data_number VARCHAR, end_date TIMESTAMPTZ, type VARCHAR) AS $$
# BEGIN
#     RETURN QUERY

#     SELECT c.id, c.title, c.contract_number as data_number, c.end_date, 'contract'::VARCHAR AS type
#     FROM public."contract" c
#     JOIN public.step_progress sp ON sp.id = c."stepProgressId"
#     WHERE TO_CHAR(c.end_date, 'YYYY-MM-DD') = TO_CHAR(now() + INTERVAL '1 day' * n, 'YYYY-MM-DD')
#       AND sp.slug = 'selesai'
    
#     UNION ALL
    
#     SELECT bp.id, bp.title, bp.business_permits_number as data_number, bp.end_date, 'business_permit'::VARCHAR AS type
#     FROM public.business_permits bp
#     JOIN public.step_progress sp ON sp.id = bp."stepProgressId"
#     WHERE TO_CHAR(bp.end_date, 'YYYY-MM-DD') = TO_CHAR(now() + INTERVAL '1 day' * n, 'YYYY-MM-DD')
#       AND sp.slug = 'selesai'
    
#     UNION ALL

#     SELECT cd.id, cd.title, cd.corporate_documents_number as data_number, cd.end_date, 'corporate_document'::VARCHAR AS type
#     FROM public.corporate_documents cd
#     JOIN public.step_progress sp ON sp.id = cd."stepProgressId"
#     WHERE TO_CHAR(cd.end_date, 'YYYY-MM-DD') = TO_CHAR(now() + INTERVAL '1 day' * n, 'YYYY-MM-DD')
#       AND sp.slug = 'selesai';
# END;
# $$ LANGUAGE plpgsql;
