PORT= #3009
DB_HOST= #127.0.0.1
DB_PORT= #5434
DB_NAME= #'db_name'
DB_USER= #'root'
DB_PASSWORD= #'your-db-password'
PRIVATE_KEY_FILE= #jwt/private.key
PUBLIC_KEY_FILE= #jwt/public.key
API_KEY_SECRET= #'api-key-secret'
UPLOAD_PATH= #/uploads

SECRET_API_KEY= #'secret-api-keyu'
EMAIL_HOST= #'sandbox.smtp.mailtrap.io'
EMAIL_USERNAME= #'email'
EMAIL_PASSWORD= #'email_password'